* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: cadetblue;
    background: linear-gradient(to right, rgb(121, 145, 187), rgb(174, 201, 248), rgb(148, 186, 252));
    font-family: sans-serif;
    color: white;
}

#image {
    height: 100vh;
    min-height: 500px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.location, .temperature {
    height: 20vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.location {
    justify-content: space-evenly;
}

.location-timezone {
    margin-right: 30px;
}

.weekly, .daily {
    font-size: 2em;
    margin-top: 50px;
}

.temperature {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-items: center;
}

.degree-section span {
    margin: 10px;
    font-size: 2.5em;
}

.degree-section span:last-of-type {
    font-size: 1.5em;
    margin: 0;
}

.degree-section h2 {
    font-size: 1.5em;
    margin-right: 15px;
}

.humidity, .precipitation, .temperature-description {
    display: flex;
    align-items: center;
}

.humidity span, .precipitation span {
    font-size: 1.7em;
    margin-left: 20px;
}

.humidity span:last-child, .precipitation span:last-child, .temperature-description span {
    font-size: 1.2em;
    margin: 0;
}

.temperature-description span {
    font-size: 1.7em;
    margin-left: 20px;
}

.temperature > div {
    margin-top: 5px;
}

.image-winter {
    background-image: url(./images/winter.jpg);
    background-color: hsla(0, 0%, 10%, 0.90);
    background-blend-mode: overlay;
}

.image-spring {
    background-image: url(./images/spring.jpg);
    background-color: hsla(0, 0%, 10%, 0.90);
    background-blend-mode: overlay;
}

.image-summer {
    background-image: url(./images/summer.jpg);
    background-color: hsla(0, 0%, 10%, 0.90);
    background-blend-mode: overlay;
}

.image-autum {
    background-image: url(./images/autum.jpg);
    background-color: hsla(0, 0%, 10%, 0.90);
}

.red {
    color: red;
}

.green {
    color: green;
}

.yellow {
    color: yellow;
}

.blue {
    color: blue;
}

.white {
    color: white;
}

#daily {
    margin-bottom: 20px;
}

#daily h2 {
    text-align: center;
    margin: 80px 0 30px;
}

.weekly, .daily {
    color: white;
}

table {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
}

@media only screen and (max-width: 700px) {
    table {
        font-size: 1.2em;
    }
}

th {
    text-align: left;
    color: white;
}

td, th {
    padding: 3px;
}

tbody tr:nth-child(even) {
    background-color: rgb(97, 154, 177);
}